.App {
  text-align: center;
}



table {
  border-collapse: collapse;
  margin: 40px auto;

}

tr {
  margin: 5px;
  width: 350px;
}

td {
  border-bottom: 1px solid lightgray;
  padding: 10px 10px;
}
.celerated {
  color: slateblue;
}
